/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v1/db/
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v1/incremental_db/
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v1/output_files/
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v1/src/*.bak
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v1/tb/*.bak
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v1/sim/__pycache__/
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v2/db/
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v2/incremental_db/
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v2/output_files/
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v2/src/*.bak
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v2/tb/*.bak
/archive/AvalonMM_to_hRAM/AvalonMM_to_SSRAM/AvalonMM_to_SSRAM_v2/sim/__pycache__/
/archive/AvalonMM_to_hRAM/domande.txt
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/synchronizer/src/*.bak
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/synchronizer/tb/*.bak
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/synchronizer/db/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/synchronizer/incremental_db/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/synchronizer/output_files/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/synchronizer/simulation/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v1/src/*.bak
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v1/tb/*.bak
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v1/db/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v1/incremental_db/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v1/output_files/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v1/simulation/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v2/src/*.bak
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v2/tb/*.bak
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v2/db/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v2/incremental_db/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v2/output_files/
/archive/AvalonMM_to_hRAM/SSRAM_to_hRAM/SSRAM_to_hRAM_v2/simulation/
